nav{
  background-color: red;
  box-shadow: 0,3px 5px;
  padding: 2px;
  display: flex;
  justify-content: flex-end;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
 }

.nav-link{
  color: white;
  padding:10px;
  text-decoration: none;
}

.header-left{
  padding-right: 40px;
  width: 50%;
}

.header-right{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%;
  margin-top: 20px;
}

img {
  max-width: 200%;
}

.container{
  max-width: 700px;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
  display: flex;
}

body{
  margin: 50px;
  font-family: calibri;
  font-size: 20px;
}

.btn {
  background-color: blue ;
  border-radius: 5px;
  text-decoration: none;
  box-shawdow: 2px, 2px, 2px #690a06;
  color: white;
  display: inline-block;
  padding: 10px 25px;
  font-size: 25px;
  bottom: 10px;
}

.specs {
  background-color: rgba(211, 20, 13,0.6);
  border-radius: 10px;
  margin: 1.66%;
  padding: 25px;
  width: 70%;
  text-align: center;
  color: white;
  }

section h2 {
  text-align: center;
  margin-top: 30px;
}

.variants {
  background-color: rgba(211, 20, 13,0.6);
  border-radius: 10px;
  margin: 1.66%;
  padding: 15px;
  width: 30%;
  text-align: center;
  color: white;
}

footer {
  background-color: white;
  color: black;
  text-align: center;
  padding: 5px;
}