#nav-bar {
  display: flex;
  justify-content: flex-end;
  height: 60px;
  position: fixed;
  width: 100%;
  background-color: pink;
  z-index: 20;
  margin-left: 0px;
  box-shadow: 0 4px 0 rgba(0,0,0,0.4);
  left: 0;
  top: 0;
}

.nav-link {
  display: block;
  font-size: 1.2rem;
  padding: 1.2rem;
  color: black;
  text-decoration: none;
}

.section-Class {
  text-align: center;
}
h1 {
  font-family: calibri;
   padding-top: 80px;
   font-size: 44px;
   color:white;
  letter-spacing:0.1em;
}

h3 {
  font-family: calibri;
   font-size: 29px;
   color:white;
  letter-spacing:0.1em
  padding-top: -30px;
 }

body{
  background-color:
  justify-content: center;
}

#welcome-section {
  display: flex;
  flex-direction: column;
  background-color: blue;
  margin-left: -10px;
  margin-right: -10px;
  
}

a {
  img-width: 100%
}

#project-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(200px, 1fr));
  grid-gap: 4rem;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  margin-bottom: 4rem;
}

a {
  text-decoration: none;
}

.project-tile {
  
  background-color: red;
}
 
 

.thumbnail {
  width: 100%;
  object-fit: cover;
  height: 100%;
}

.fig {
  text-align: center;
  color: white;
}

#project-section {
  text-align: center;
  background-color: #336699;
  margin-left: -10px;
  margin-right: -10px;
  margin-top: -30px;
  padding-bottom: 40px;
}

h2 {
  padding-top: 20px;
  font-size: 30px;
  text-decoration: underline;
}

#contact-section {
  background-color: pink;
  padding-top:50px;
  padding-bottom: 50px;
  margin-left: -10px;
  margin-right: -10px;
  text-align: center;
  font-size: 20px;
}

#contact-section a:hover {
  color: red;
}

#footer {
  margin-left: 35px;
  font-size: 25px;
  font-weight: 1000;
}